<section class="clearfix notFound py-0">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-6 col-sm-offset-3 col-xs-12">
      <div class="notFoundInner">
        <div class="notFoundImage mt-5">
          <img
            src="assets/images/not-found.png"
            alt="Image not found"
            class="img-responsive"
          />
        </div>
        <div class="notFoundInfo">
          <h2>Sorry! Page Not Found!</h2>
          <a routerLink="/" class="btn btn-primary">Come Back</a>
        </div>
      </div>
    </div>
  </div>
</section>
