<section class="clearfix pageTitleArea">
  <div class="container">
    <div class="pageTitle">
      <h1>Makeup</h1>
    </div>
  </div>
</section>
<section class="container-fluid clearfix aboutSection patternbg">
  <div class="aboutInner inner-wrapper">
    <div class="sepcialContainer">
      <div class="row">
        <div class="col-sm-6 col-xs-12 rightPadding">
          <div class="imagebox">
            <img
              class="img-responsive"
              data-src="img/home/home-about.jpg"
              src="./assets/images/home-slider-3-small.jpeg"
              alt="Image Dry Skin"
            />
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="aboutInfo">
            <h2>Makeup beyond Imagination</h2>
            <p>
              Many of us like to wear make-up every now and then. Making a
              little effort to highlight your features should not feel like a
              task, but sometimes it does when you feel like you have ruined the
              look after spending almost an hour on it.
            </p>

            <p>
              Perhaps you have got almost everything right but need to fix some
              minute problems that may seem overwhelming.
            </p>
            <!-- <h3>Process:</h3>
            <p>
              The skin is cleaned with a cleanser, post which an exfoliating
              scrub is used to remove dead skin. A steam treatment to extract
              whiteheads and blackheads followed by a moisturising massage
              completes the facial.
            </p>
            <h3>Skin Type:</h3>
            <p>It is suitable for dry to normal skin types.</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
