.navbar-brand {
  text-align: center;
}

.navbar-brand img {
  width: 80px;
}

.logo-detail {
  display: inline-block;
}

.logo-text {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  color: #da05ab;
  margin-top: 10px;
  font-weight: 600;

  & + span {
    font-size: 1rem;
    color: #da05ab;
    font-weight: 400;
  }
}
