<nav class="navbar navbar-expand-md main-nav navbar-scrollUp navbar-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbarItems()"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" routerLink="/">
      <img
        class=""
        src="assets/images/logo.png"
        alt="logo"
        class="d-none d-lg-inline-block"
      />
      <div class="logo-detail">
        <span class="logo-text"> Smriti Hair and Beauty </span>
        <span>Professional Salon</span>
      </div>
    </a>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      [ngClass]="{
        show: isOpened
      }"
    >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" (click)="isOpened = false"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            role="button"
            aria-haspopup="true"
            aria-expanded="true"
            routerLink="services"
            (click)="isOpened = false"
            >Services</a
          >
        </li>

        <!-- <li class="dropdown megaDropMenu nav-item">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            href="javascript:void(0)"
            >Store</a
          >

          <ul class="row dropdown-menu justify-content-md-between">
            <li class="">
              <ul class="list-unstyled">
                <li>
                  <a href="product-right-sidebar.html">Product Right Sidebar</a>
                </li>
                <li>
                  <a href="product-left-sidebar.html">Product Left Sidebar</a>
                </li>
                <li><a href="product-3col.html">Product 3 Col</a></li>
                <li><a href="product-4col.html">Product 4 Col</a></li>
                <li><a href="single-product.html">Single product</a></li>
              </ul>
            </li>

            <li class="">
              <ul class="list-unstyled">
                <li><a href="user-dashboard.html">User Dashboard</a></li>
                <li><a href="user-profile.html">User Profile</a></li>
                <li><a href="address.html">Address</a></li>
                <li><a href="all-order.html">All Order</a></li>
                <li><a href="wishlist.html">Wishlist</a></li>
              </ul>
            </li>

            <li class="">
              <ul class="list-unstyled">
                <li><a href="cart.html">Cart</a></li>
                <li><a href="checkout.html">Checkout</a></li>
                <li><a href="success.html">Confirmation</a></li>
                <li><a href="pricing.html">Price table</a></li>
              </ul>
            </li>

            <li class="">
              <ul class="list-unstyled">
                <li>
                  <a href="javascript:void(0)" class="px-md-0"
                    ><img
                      class="img-responsive"
                      data-src="img/home/pricing-1.jpg"
                      src="img/home/pricing-1.jpg"
                      alt="logo"
                  /></a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            href="javascript:void(0)"
            >Pages</a
          >

          <ul class="dropdown-menu">
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="appointment.html">Appointment</a></li>

            <li class="dropdown">
              <a
                href="javascript:void(0)"
                class="dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Team</a
              >

              <ul class="dropdown-menu submenu">
                <li><a href="member.html">Our Team</a></li>
                <li><a href="single-member-profile.html">Single Member</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a
                href="javascript:void(0)"
                class="dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Gallery</a
              >

              <ul class="dropdown-menu submenu">
                <li><a href="gallery-v1.html">Gallery 3 Col</a></li>
                <li><a href="gallery-v2.html">Gallery 4 Col</a></li>
              </ul>
            </li>

            <li><a href="login-signup.html">Login SignUp</a></li>

            <li><a href="404.html">404 Not Found</a></li>

            <li><a href="coming-soon.html">Coming Soon</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown active">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            href="javascript:void(0)"
            >Blog</a
          >

          <ul class="dropdown-menu menu-xl-right">
            <li class="dropdown">
              <a
                href="javascript:void(0)"
                class="dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Blog</a
              >
              <ul class="dropdown-menu submenu">
                <li><a href="blog-right-sidebar.html">Right Sidebar</a></li>
                <li><a href="blog-left-sidebar.html">Left Sidebar</a></li>
                <li><a href="blog-fullwidth.html">Fullwidth</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a
                href="javascript:void(0)"
                class="dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Single Blog</a
              >
              <ul class="dropdown-menu submenu">
                <li>
                  <a href="blog-single-right-sidebar.html">Right Sidebar</a>
                </li>
                <li>
                  <a href="blog-single-left-sidebar.html">Left Sidebar</a>
                </li>
                <li><a href="blog-single-fullwidth.html">Fullwidth</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="true"
            href="javascript:void(0)"
            >Components</a
          >
          <ul class="dropdown-menu menu-right show">
            <li><a href="tabs-pagination.html">Tab &amp; Pagination</a></li>
            <li><a href="accrodion.html">Accrodions</a></li>
            <li><a href="buttons-alerts.html">Buttons &amp; Alerts</a></li>
          </ul>
        </li> -->
        <li class="nav-item">
          <a
            class="nav-link"
            role="button"
            routerLink="appointments"
            routerLinkActive="active"
            >Appointments</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            role="button"
            routerLink="book-appointment"
            routerLinkActive="active"
            (click)="isOpened = false"
            >Book Appointment</a
          >
        </li>
      </ul>
    </div>
    <!--
    <div class="cart_btn">
      <a href="cart.html"
        ><i class="fa fa-shopping-basket" aria-hidden="true"></i
        ><span class="badge">0</span></a
      >
    </div> -->
    <!-- header search ends-->
  </div>
</nav>
