<div class="tab-pane active" id="facial">
  <div class="tabbable tabs-left">
    <div class="row">
      <div class="col-md-5 col-lg-4">
        <ul class="nav nav-tabs">
          <li>
            <a
              href=""
              (click)="selectTab(0, $event)"
              [class.active]="normalDrySkinTab.active"
              >Normal / Dry Skin
              <!-- <span>$25</span> -->
            </a>
          </li>
          <li>
            <a
              href=""
              (click)="selectTab(1, $event)"
              [class.active]="combinationSkinTab.active"
              >Combination Skin
              <!-- <span>$25</span> -->
            </a>
          </li>
          <li>
            <a
              href=""
              (click)="selectTab(2, $event)"
              [class.active]="oilySkinTab.active"
              >Oily Skin
              <!-- <span>$25</span> -->
            </a>
          </li>
          <li>
            <a
              href=""
              (click)="selectTab(3, $event)"
              [class.active]="sensitiveSkinTab.active"
              >Sensitive Skin
              <!-- <span>$25</span> -->
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-7 col-lg-8">
        <tabset class="tab-content" #staticTabs>
          <tab class="tab-pane" #normalDrySkinTab="tab">
            <div class="varietyContent">
              <img
                src="./assets/images/dry-skin.jpeg"
                alt="Image"
                class="img-responsive"
              />
              <h3>Normal / Dry Skin</h3>
              <!-- <h4>Rs. 10.00 Per Head</h4> -->
              <p>
                The best way to think about your normal skin is that it ends up
                being a subtle matter of degree, preferences and expectations.
                It also always depends on the skin care products you’re
                currently using. In other words, even those with seemingly
                flawless skin still can feel a bit of dryness or a bit of
                oiliness or see signs of combination skin with occasional
                clogged pores. Think about it as mostly normal skin plus a
                little bit of other minor, barely detectable issues
                <a routerLink="../dry-skin-care">Read More</a>.
              </p>
              <button
                (click)="bookAppointment('Normal/Dry Skin')"
                class="btn btn-primary first-btn"
              >
                Make An Appoinment
              </button>
            </div>
          </tab>
          <tab class="tab-pane" #combinationSkinTab="tab">
            <div class="varietyContent">
              <img
                src="./assets/images/combination-skin.jpeg"
                alt="Image Variety"
                class="img-responsive"
              />
              <h3>Combination Skin</h3>
              <!-- <h4>Rs25.00 Per Head</h4> -->
              <p>
                Since combination skin has oily and normal to dry skin, make
                sure mild products are used. This is so that you don’t aggravate
                the oily skin into breakouts and the dry skin doesn’t get drier
                with products used for oily skin
                <a routerLink="../combination-skin-care">Read More</a>.
              </p>
              <button
                (click)="bookAppointment('Combination Skin')"
                class="btn btn-primary first-btn"
              >
                Make An Appoinment
              </button>
            </div>
          </tab>

          <tab class="tab-pane" #oilySkinTab="tab">
            <div class="varietyContent">
              <img
                src="./assets/images/oily-skin.jpeg"
                alt="Image Variety"
                class="img-responsive"
              />
              <h3>Oily Skin</h3>
              <!-- <h4>$25.00 Per Head</h4> -->
              <p>
                For oily skin, opt for a facial that uses natural extracts,
                focuses on deep cleansing and extraction with toning, a face
                mask and a protective serum. The mask will remove excess oils,
                shrink the pores and make the skin soft
                <a routerLink="../oily-skin-care">Read More</a>.
              </p>
              <button
                (click)="bookAppointment('Oily Skin')"
                class="btn btn-primary first-btn"
              >
                Make An Appoinment
              </button>
            </div>
          </tab>
          <tab class="tab-pane" #sensitiveSkinTab="tab">
            <div class="varietyContent">
              <img
                src="./assets/images/sensitive-skin.jpeg"
                alt="Image Variety"
                class="img-responsive"
              />
              <h3>Sensitive Skin</h3>
              <!-- <h4>$25.00 Per Head</h4> -->
              <p>
                Sensitive skin is a common issue but not a medical diagnosis in
                itself. The term generally refers to skin that is more prone to
                inflammation or adverse reactions. People with sensitive skin
                may have strong reactions to chemicals, dyes, and fragrances
                present in products that come into contact with the skin.
              </p>
              <button
                (click)="bookAppointment('Sensitive Skin')"
                class="btn btn-primary first-btn"
              >
                Make An Appoinment
              </button>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
