<div class="tab-pane active" id="hair">
  <div class="tabbable tabs-left">
    <div class="row">
      <div class="col-md-5 col-lg-4">
        <ul class="nav nav-tabs">
          <li>
            <a
              href=""
              (click)="selectTab(0, $event)"
              [class.active]="braidstwistTab.active"
              >Braids &amp; Twist
              <!-- <span>&#8377;300</span> -->
            </a>
          </li>
          <li>
            <a
              href=""
              (click)="selectTab(1, $event)"
              [class.active]="haircolorTab.active"
              >Hair Color
              <!-- <span>&#8377;400</span> -->
            </a>
          </li>
          <li>
            <a
              href="#hairextension"
              [class.active]="hairextensionTab.active"
              (click)="selectTab(2, $event)"
              >Hair Straightening
              <!-- <span>$19</span> -->
            </a>
          </li>
          <li>
            <a
              href="#correctivecolor"
              (click)="selectTab(3, $event)"
              [class.active]="correctivecolorTab.active"
              >Corrective Color
              <!-- <span>&#8377;1000</span> -->
            </a>
          </li>
          <li>
            <a
              href="#haircut"
              [class.active]="haircutTab.active"
              (click)="selectTab(4, $event)"
              >Hair Cut
              <!-- <span>$48</span> -->
            </a>
          </li>
          <li>
            <a
              href="#partialfoil"
              [class.active]="partialfoilTab.active"
              (click)="selectTab(5, $event)"
              >Partial Foil
              <!-- <span>$10</span> -->
            </a>
          </li>
          <li>
            <a
              (click)="selectTab(6, $event)"
              [class.active]="extensionpertrackTab.active"
              >Extension Per Track
              <!-- <span>$40</span> -->
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-7 col-lg-8">
        <tabset class="tab-content" #staticTabs>
          <tab class="tab-pane" id="braidstwist" #braidstwistTab="tab">
            <div class="varietyContent">
              <img
                src="./assets/images/variety.jpeg"
                alt="Image Variety"
                class="img-responsive"
              />
              <h3>Braids &amp; Twist</h3>
              <!-- <h4>&#8377;300 Per Head</h4> -->
              <p>
                Twists are a top favorite technique in black hairstyles, along
                with braids. Twists allow extending your natural hair, attaching
                anything from quality commercial strands to dreadlocks. Many
                African American women hold themselves back from going natural
                simply because they have no idea of how they are going to style
                and protect their natural hair. Here are a couple of nice ideas
                in pictures, ladies.
              </p>
              <button
                (click)="bookAppointment('BRAIDS & TWIST')"
                class="btn btn-primary first-btn"
              >
                Make An Appoinment
              </button>
            </div>
          </tab>

          <tab class="tab-pane" id="haircolor" #haircolorTab="tab">
            <div class="varietyContent">
              <img
                src="./assets/images/variety-6.jpeg"
                alt="Image Variety"
                class="img-responsive"
              />
              <h3>Hair Color</h3>
              <!-- <h4>&#8377;400.00 Per Head</h4> -->
              <p>
                Hair color is the pigmentation of hair follicles due to two
                types of melanin: eumelanin and pheomelanin. Generally, if more
                melanin is present, the color of the hair is darker; if less
                melanin is present, the hair is lighter. The tone of the hair is
                dependent on the ratio of black or brown eumelanin to yellow or
                red pheomelanin.
              </p>
              <button
                (click)="bookAppointment('Hair Color')"
                class="btn btn-primary first-btn"
              >
                Make An Appoinment
              </button>
            </div>
          </tab>

          <tab class="tab-pane" #hairextensionTab="tab">
            <div class="varietyContent">
              <img
                src="./assets/images/variety-2.jpeg"
                alt="Image Variety"
                class="img-responsive"
              />
              <h3>Hair Straightening & Curls</h3>
              <!-- <h4>&#8377;300 Per Head</h4> -->
              <p>
                Hair straightening is a sure-shot way of getting smoother,
                sleeker and softer hair that is free of frizzy flyaways.
                Regardless of your original hair texture, you can straighten
                your locks in various ways.
              </p>
              <button
                (click)="bookAppointment('Hair Straightening')"
                class="btn btn-primary first-btn"
              >
                Make An Appoinment
              </button>
            </div>
          </tab>

          <tab class="tab-pane" #correctivecolorTab="tab">
            <div class="varietyContent">
              <img
                src="./assets/images/variety-3.jpeg"
                alt="Image Variety"
                class="img-responsive"
              />
              <h3>Corrective Color</h3>
              <!-- <h4>&#8377;1000.00 Per Head</h4> -->
              <p>
                Corrective hair color is a color process that must be performed
                by a professional hair colorist to correct any and all damage
                caused by a color service gone wrong. At Creative Color and Cuts
                we take pride in knowing exactly what it takes to get you back
                on the right track.
              </p>
              <button
                (click)="bookAppointment('Corrective Color')"
                class="btn btn-primary first-btn"
              >
                Make An Appoinment
              </button>
            </div>
          </tab>

          <tab class="tab-pane" #haircutTab="tab">
            <div class="varietyContent">
              <img
                src="./assets/images/variety-4.jpeg"
                alt="Image Variety"
                class="img-responsive"
              />
              <h3>Hair Cut</h3>
              <!-- <h4>$48.00 Per Head</h4> -->
              <p>
                A regular haircut, in Western fashion, is a men's and boys'
                hairstyle that has hair long enough to comb on top, a defined or
                deconstructed side part, and a short, semi-short, medium, long,
                or extra long back and sides.
              </p>
              <button
                (click)="bookAppointment('Hair Cut')"
                class="btn btn-primary first-btn"
              >
                Make An Appoinment
              </button>
            </div>
          </tab>

          <tab class="tab-pane" #partialfoilTab="tab">
            <div class="varietyContent">
              <img
                src="./assets/images/variety-5.jpeg"
                alt="Image Variety"
                class="img-responsive"
              />
              <h3>Partial Foil</h3>
              <!-- <h4>$10.00 Per Head</h4> -->
              <p>
                A partial foil means to foil only the hair on the top sections
                of the head. This is great for a more natural, “darker
                underneath” look, or in between appointments for full foils to
                refresh the most noticed areas. If you don’t have layers in your
                hair, a partial foil will make it look fully highlighted when
                you wear your hair down. If it is layered, you will see the
                color of the underneath section of hair poking out underneath.
              </p>
              <button
                (click)="bookAppointment('Partial Foil')"
                class="btn btn-primary first-btn"
              >
                Make An Appoinment
              </button>
            </div>
          </tab>

          <tab class="tab-pane" #extensionpertrackTab="tab">
            <div class="varietyContent">
              <img
                src="./assets/images/variety-6.jpeg"
                alt="Image Variety"
                class="img-responsive"
              />
              <h3>Extension Per Track</h3>
              <!-- <h4>$40.00 Per Head</h4> -->
              <p>
                How many hair extensions you need for a full head depends on
                several factors, but generally you can count on 4 to 10 packs of
                hair for I-Link and Kera-Link or 3 to 7 packs for Tape-In.
                (I-Link and Kera-Link packs come with 20 strands per pack;
                Tape-In packs include 10 wefts per pack.
              </p>
              <button
                (click)="bookAppointment('Extension Per Track')"
                class="btn btn-primary first-btn"
              >
                Make An Appoinment
              </button>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
