<section class="clearfix pageTitleArea">
  <div class="container">
    <div class="pageTitle">
      <h1>
        Welcome to <br />
        <span class="parlour">Smriti Beauty Parlour</span>
      </h1>
    </div>
  </div>
</section>
<section class="container-fluid clearfix aboutSection patternbg">
  <div class="aboutInner inner-wrapper">
    <div class="sepcialContainer">
      <div class="row">
        <div class="col-sm-6 col-xs-12 rightPadding">
          <div class="imagebox">
            <img
              class="img-responsive"
              data-src="img/home/home-about.jpg"
              src="./assets/images/home-slider-1-small.jpeg"
              alt="Image Dry Skin"
            />
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="aboutInfo">
            <h2>Welcome!</h2>
            <p>
              We provide full end to end solution for your Skin, Hair. we
              understand Beauty is all about you and remember Beauty lies in
              healthy mind, body and spirit.
            </p>
            <!-- <h3>Process:</h3>
            <p>
              The skin is cleaned with a cleanser, post which an exfoliating
              scrub is used to remove dead skin. A steam treatment to extract
              whiteheads and blackheads followed by a moisturising massage
              completes the facial.
            </p>
            <h3>Skin Type:</h3>
            <p>It is suitable for dry to normal skin types.</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
