<section class="clearfix pageTitleArea">
  <div class="container">
    <div class="pageTitle">
      <h1>Hair Care Solution</h1>
    </div>
  </div>
</section>
<section class="container-fluid clearfix aboutSection patternbg">
  <div class="aboutInner inner-wrapper">
    <div class="sepcialContainer">
      <div class="row">
        <div class="col-sm-6 col-xs-12 rightPadding">
          <div class="imagebox">
            <img
              class="img-responsive"
              data-src="img/home/home-about.jpg"
              src="./assets/images/home-slider-4-small.jpeg"
              alt="Image Dry Skin"
            />
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="aboutInfo">
            <h2>Hair Care</h2>
            <p>
              Hair care is an overall term for hygiene and cosmetology involving
              the hair which grows from the human scalp, and to a lesser extent
              facial, pubic and other body hair. Hair care routines differ
              according to an individual's culture and the physical
              characteristics of one's hair. Hair may be colored, trimmed,
              shaved, plucked or otherwise removed with treatments such as
              waxing, sugaring and threading.
            </p>
            <!-- <h3>Process:</h3>
            <p>
              The skin is cleaned with a cleanser, post which an exfoliating
              scrub is used to remove dead skin. A steam treatment to extract
              whiteheads and blackheads followed by a moisturising massage
              completes the facial.
            </p>
            <h3>Skin Type:</h3>
            <p>It is suitable for dry to normal skin types.</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
