<section class="clearfix pageTitleArea">
  <div class="container">
    <div class="pageTitle">
      <h1>Contact Us</h1>
    </div>
  </div>
</section>

<!-- MAP SECTION -->
<section class="clearfix mapSection">
  <iframe
    height="320"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1902.264259537989!2d78.31290656280495!3d17.530006112667426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb8d16e6106b59%3A0xb9fd1075399dcae3!2sSmriti%20hair%20and%20beauty!5e0!3m2!1sen!2sin!4v1617170378334!5m2!1sen!2sin"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
  ></iframe>
</section>

<!-- <section class="clearfix contactSection padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-7 col-xl-8">
        <div class="contactTitle">
          <h3>Get in touch</h3>
        </div>

        <div class="contactForm">
          <div id="alert"></div>
          <form
            action="mail/contact-form.php"
            id="angelContactForm"
            method="post"
          >
            <div class="form-group">
              <input
                type="text"
                name="contact-form-name"
                class="form-control"
                placeholder="Your Name"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                name="contact-form-email"
                class="form-control"
                placeholder="Your Email"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="contact-form-mobile"
                class="form-control"
                placeholder="Your Mobile"
                required
              />
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                name="contact-form-message"
                placeholder="Your Message"
                required
              ></textarea>
            </div>
            <div class="form-group">
              <button
                type="submit"
                id="contact-submit-btn"
                class="btn btn-primary first-btn"
              >
                send Message
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-6 col-lg-5 col-xl-4">
        <div class="holdingInfo patternbg">
          <h3>Contact Details</h3>
          <ul>
            <li>
              <i class="ti-location-pin" aria-hidden="true"></i> Plot no 24,
              Shankar Green Homes, <br />Near Ameenpur Village - 502032
            </li>
            <li>
              <i class="ti-microphone" aria-hidden="true"></i>
              <a href="tel: 7893508048">7893508048</a> <br /><a
                href="tel: 7780522909"
                >7780522909</a
              >
            </li>
            <li>
              <i class="ti-email" aria-hidden="true"></i>
              <a href="mailto:rekha.aol17@gmail.com">rekha.aol17@gmail.com</a
              ><br />
              <a href="mailto:smritivlcc@gmail.com">smritivlcc@gmail.com</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section> -->
