<!-- DASHBOARD SECTION -->
<section class="clearfix orderSection padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="list-inline squareBtn">
          <li class="li">
            <a
              routerLink="dashboard"
              routerLinkActive="btn-theme"
              class="btn btn-common"
              >Account Dashboard</a
            >
          </li>
          <li class="li">
            <a
              routerLink="profile"
              routerLinkActive="btn-theme"
              class="btn btn-common"
              >Profile</a
            >
          </li>
          <li class="li">
            <a
              routerLink="address"
              routerLinkActive="btn-theme"
              class="btn btn-common"
              >Address</a
            >
          </li>
          <li class="li">
            <a
              routerLink="orders"
              routerLinkActive="btn-theme"
              class="btn btn-common"
              >All Orders</a
            >
          </li>
          <li class="li">
            <a
              routerLink="wishlist"
              routerLinkActive="btn-theme"
              class="btn btn-common"
              >Wishlist</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="innerWrapper">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</section>
