<section class="clearfix pageTitleArea">
  <div class="container">
    <div class="pageTitle">
      <h1>Skin Care</h1>
    </div>
  </div>
</section>
<section class="container-fluid clearfix aboutSection patternbg">
  <div class="aboutInner inner-wrapper">
    <div class="sepcialContainer">
      <div class="row">
        <div class="col-sm-6 col-xs-12 rightPadding">
          <div class="imagebox">
            <img
              class="img-responsive"
              data-src="img/home/home-about.jpg"
              src="./assets/images/home-slider-2-small.jpeg"
              alt="Image Dry Skin"
            />
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="aboutInfo">
            <h2>Skin Care Solution</h2>
            <p>
              You may suspect you have dry, oily, or sensitive skin, but do you
              really know your skin type? Knowing your true skin type can help
              the next time you’re in the cosmetics aisle.
            </p>

            <h3>Building a daily skin care routine</h3>
            <p>
              No matter what your skin type is, a daily skin care routine can
              help you maintain overall skin health and improve specific
              concerns like acne, scarring, and dark spots. A daily skin care
              routine has four basic steps you can do once in the morning and
              once before you sleep.
            </p>

            <!-- <h3>Process:</h3>
            <p>
              The skin is cleaned with a cleanser, post which an exfoliating
              scrub is used to remove dead skin. A steam treatment to extract
              whiteheads and blackheads followed by a moisturising massage
              completes the facial.
            </p>
            <h3>Skin Type:</h3>
            <p>It is suitable for dry to normal skin types.</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
