<!-- PAGE TITLE SECTION -->
<section class="clearfix pageTitleArea">
  <div class="container">
    <div class="pageTitle">
      <h1>Appointment</h1>
    </div>
  </div>
</section>

<!-- CONTACT US SECTION -->
<section class="clearfix contactSection padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-xl-8">
        <div class="contactTitle">
          <h3>Select Services:</h3>
        </div>
        <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
          <ul class="list-unstyled custom-list">
            <li
              class="checkbox form-check custom-checkbox"
              *ngFor="let service of availableServices; let i = index"
            >
              <input
                class="form-check-input"
                type="checkbox"
                [value]="service.value"
                (change)="onCheckboxChange($event)"
                id="{{ service.name }}"
              />
              <label class="form-check-label" for="{{ service.name }}">
                {{ service.value }}
              </label>
            </li>
          </ul>

          <div class="contactTitle">
            <h3>Appointment Date:</h3>
          </div>

          <div class="dateSelect custom-dateSelect">
            <div class="input-group date ed-datepicker filterDate">
              <input
                type="text"
                class="form-control"
                placeholder="MM/DD/YYYY"
                formControlName="date"
                bsDatepicker
                [bsConfig]="bsConfig"
              />
              <div class="input-group-addon">
                <span class="ti-calendar"></span>
              </div>
            </div>
          </div>

          <div class="contactTitle">
            <h3>Appointment Time:</h3>
          </div>

          <div class="custom-timeSelect clearfix">
            <div class="countrySelect timeSelect">
              <timepicker formControlName="time"></timepicker>
            </div>
          </div>

          <div class="contactTitle">
            <h3>Personal info:</h3>
          </div>

          <div class="contactForm">
            <div id="alert"></div>
            <!--Response Holder-->

            <div class="form-group">
              <input
                type="text"
                name="contact-form-name"
                class="form-control"
                placeholder="Your Name"
                formControlName="name"
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                name="contact-form-email"
                class="form-control"
                placeholder="Your Email"
                formControlName="email"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="contact-form-mobile"
                class="form-control"
                placeholder="Your Mobile"
                formControlName="phone"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="appointment-form-address"
                class="form-control"
                placeholder="Your address"
                formControlName="address"
              />
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                name="contact-form-message"
                placeholder="Your Message"
                formControlName="message"
              ></textarea>
            </div>
            <div class="form-group">
              <button
                type="submit"
                id="contact-submit-btn"
                class="btn btn-primary first-btn"
              >
                Get appointment
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-5 col-xl-4">
        <div class="holdingInfo patternbg">
          <h3>Operating Hours</h3>
          <ul>
            <li>
              <i class="ti-location-pin" aria-hidden="true"></i> Plot no 24,
              Shankar Green Homes, <br />Near Ameenpur Village - 502032
            </li>
            <li>
              <i class="ti-time" aria-hidden="true"></i>
              Sunday - Friday
              <br />10am - 8pm
            </li>
            <li>
              <i class="ti-microphone" aria-hidden="true"></i>
              <a href="tel: 7893508048">7893508048</a> <br /><a
                href="tel: 7780522909"
                >7780522909</a
              >
            </li>
            <li>
              <i class="ti-email" aria-hidden="true"></i>
              <a href="mailto:rekha.aol17@gmail.com">rekha.aol17@gmail.com</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
