<!-- DASHBOARD SECTION -->
<section
  class="clearfix orderSection padding"
  *ngIf="authService.userData as user"
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="list-inline squareBtn">
          <li class="li">
            <a
              href="javascript:void(0)"
              class="btn btn-common btn-theme cursor-default"
              >Account Dashboard</a
            >
          </li>
          <li class="li">
            <a href="user-profile.html" class="btn btn-common">Profile</a>
          </li>
          <li class="li">
            <a href="address.html" class="btn btn-common">Address</a>
          </li>
          <li class="li">
            <a href="all-order.html" class="btn btn-common">All Orders</a>
          </li>
          <li class="li">
            <a href="wishlist.html" class="btn btn-common">Wishlist</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="innerWrapper">
          <!-- <div class="alert alert-warning alert-dismissible" role="alert">
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Warning!</strong> You have one unpaid order.
          </div> -->
          <h3>
            Wellcome
            <span>{{ user.displayName ? user.displayName : user.email }}</span>
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
          <ul class="list-inline dashboard">
            <li>
              <a href="javascript:void(0)" class="btn btn-default btn-lg"
                ><i class="ti-user" aria-hidden="true"></i>Profile</a
              >
            </li>
            <li>
              <a href="javascript:void(0)" class="btn btn-default btn-lg"
                ><i class="ti-location-pin" aria-hidden="true"></i>My Address</a
              >
            </li>
            <li>
              <a href="javascript:void(0)" class="btn btn-default btn-lg"
                ><i class="ti-list" aria-hidden="true"></i>All Orders</a
              >
            </li>
            <li>
              <a href="javascript:void(0)" class="btn btn-default btn-lg"
                ><i class="ti-gift" aria-hidden="true"></i>Wishlist</a
              >
            </li>
            <li>
              <a href="javascript:void(0)" class="btn btn-default btn-lg"
                ><i class="ti-plus" aria-hidden="true"></i>New Address</a
              >
            </li>
          </ul>
          <!-- <div class="dashboard">
            <h4>Unpaid Orders</h4>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Order ID</th>
                    <th>Date</th>
                    <th>Items</th>
                    <th>Total Price</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>#252125</td>
                    <td>Mar 25, 2016</td>
                    <td>2</td>
                    <td>$ 99.00</td>
                    <td>
                      <a href="javascript:void(0)" class="btn btn-default"
                        >Pay now</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="dashboard">
            <h4>Pending Warranty Claims</h4>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Order ID</th>
                    <th>Date</th>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>#252125</td>
                    <td>Mar 25, 2016</td>
                    <td>Z - 45263</td>
                    <td>Lorem ipsum doler</td>
                    <td>
                      <a href="javascript:void(0)" class="btn btn-default"
                        >View</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
