<section class="clearfix pageTitleArea">
  <div class="container">
    <div class="pageTitle">
      <h1>Oily Skin Care</h1>
    </div>
  </div>
</section>
<section class="container-fluid clearfix aboutSection patternbg">
  <div class="aboutInner inner-wrapper">
    <div class="sepcialContainer">
      <div class="row">
        <div class="col-sm-6 col-xs-12 rightPadding">
          <div class="imagebox">
            <img
              class="img-responsive"
              data-src="img/home/home-about.jpg"
              src="./assets/images/oily-skin.jpeg"
              alt="Image Dry Skin"
            />
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="aboutInfo">
            <h2>Intraceutical Facial</h2>
            <p>
              Popular with Bollywood stars, this facial gives you brighter and
              hydrated skin. Suitable for women over 30, it is ideal for younger
              looking skin.
            </p>
            <h3>Process:</h3>
            <p>
              Besides the cleansing, this facial uses hyaluronic acid with
              pressurised oxygen to infuse your skin with peptides,
              antioxidants, and vitamins followed by a hydrating massage.
            </p>
            <h3>Skin Type:</h3>
            <p>
              It is suitable for all skin types and can be done throughout the
              year.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
