<section class="clearfix pageTitleArea">
  <div class="container">
    <div class="pageTitle">
      <h1>Dry / Normal Skin Care</h1>
    </div>
  </div>
</section>
<section class="container-fluid clearfix aboutSection patternbg">
  <div class="aboutInner inner-wrapper">
    <div class="sepcialContainer">
      <div class="row">
        <div class="col-sm-6 col-xs-12 rightPadding">
          <div class="imagebox">
            <img
              class="img-responsive"
              data-src="img/home/home-about.jpg"
              src="./assets/images/dry-skin.jpeg"
              alt="Image Dry Skin"
            />
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="aboutInfo">
            <h2>Classic Facial</h2>
            <p>
              This is the most common type of facial which involves cleansing,
              exfoliating, moisturising and a face mask. What differs is the
              products used based on skin type. It can be done at any time of
              the year.
            </p>
            <h3>Process:</h3>
            <p>
              The skin is cleaned with a cleanser, post which an exfoliating
              scrub is used to remove dead skin. A steam treatment to extract
              whiteheads and blackheads followed by a moisturising massage
              completes the facial.
            </p>
            <h3>Skin Type:</h3>
            <p>It is suitable for dry to normal skin types.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
