<section class="clearfix varietySection">
  <div class="container">
    <div class="secotionTitle">
      <h2>Services</h2>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="tabbable tabTop">
          <ul class="nav nav-tabs">
            <li>
              <a routerLink="hair" routerLinkActive="active"
                ><span>Hair</span></a
              >
            </li>
            <li>
              <a routerLink="makeup" routerLinkActive="active"
                ><span>Makeup</span></a
              >
            </li>
            <li>
              <a routerLink="facial" routerLinkActive="active"
                ><span>Facial</span></a
              >
            </li>
            <!-- <li>
              <a href="#massage" data-toggle="tab"><span>Massage</span></a>
            </li>
            <li>
              <a href="#nail" data-toggle="tab"><span>Nail</span></a>
            </li>
            <li>
              <a href="#waxing" data-toggle="tab"><span>Waxing</span></a>
            </li> -->
          </ul>

          <div class="tab-content">
            <router-outlet></router-outlet>

            <div class="tab-pane" id="massage">
              <div class="tabbable tabs-left">
                <div class="row">
                  <div class="col-md-5 col-lg-4">
                    <ul class="nav nav-tabs">
                      <li>
                        <a href="#braidstwist3" data-toggle="tab" class="active"
                          >Braids &amp; Twist <span>$25</span></a
                        >
                      </li>
                      <li>
                        <a href="#haircolor112" data-toggle="tab"
                          >Hair Color <span>$40</span></a
                        >
                      </li>
                      <li>
                        <a href="#hairextension112" data-toggle="tab"
                          >Hair Extension<span>$19</span></a
                        >
                      </li>
                      <li>
                        <a href="#correctivecolor112" data-toggle="tab"
                          >Corrective Color<span>$13</span></a
                        >
                      </li>
                      <li>
                        <a href="#haircut112" data-toggle="tab"
                          >Hair Cut<span>$48</span></a
                        >
                      </li>
                      <li>
                        <a href="#partialfoil112" data-toggle="tab"
                          >Partial Foil<span>$10</span></a
                        >
                      </li>
                      <li>
                        <a href="#extensionpertrack112" data-toggle="tab"
                          >Extension Per Track<span>$40</span></a
                        >
                      </li>
                    </ul>
                  </div>

                  <div class="col-md-7 col-lg-8">
                    <div class="tab-content">
                      <div class="tab-pane active" id="braidstwist3">
                        <div class="varietyContent">
                          <img
                            src="img/home/variety-4.jpg"
                            data-src="img/home/variety-4.jpg"
                            alt="Image Variety"
                            class="img-responsive"
                          />
                          <h3>Braids &amp; Twist</h3>
                          <h4>$25.00 Per Head</h4>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo.
                          </p>
                          <a
                            href="#"
                            class="btn btn-primary first-btn"
                            data-toggle="modal"
                            data-target="#appoinmentModal"
                            >make An Appoinment</a
                          >
                        </div>
                      </div>

                      <div class="tab-pane" id="haircolor112">
                        <div class="varietyContent">
                          <img
                            src="img/home/variety-5.jpg"
                            data-src="img/home/variety-5.jpg"
                            alt="Image Variety"
                            class="img-responsive"
                          />
                          <h3>Hair Color</h3>
                          <h4>$40.00 Per Head</h4>
                          <p>
                            Nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim
                            ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo.
                          </p>
                          <a href="#" class="btn btn-primary first-btn"
                            >make An Appoinment</a
                          >
                        </div>
                      </div>

                      <div class="tab-pane" id="hairextension112">
                        <div class="varietyContent">
                          <img
                            src="img/home/variety-6.jpg"
                            data-src="img/home/variety-6.jpg"
                            alt="Image Variety"
                            class="img-responsive"
                          />
                          <h3>Hair Extension</h3>
                          <h4>$19.00 Per Head</h4>
                          <p>
                            Et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut
                            aliquip ex ea commodo. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim
                            ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo.
                          </p>
                          <a href="#" class="btn btn-primary first-btn"
                            >make An Appoinment</a
                          >
                        </div>
                      </div>

                      <div class="tab-pane" id="correctivecolor112">
                        <div class="varietyContent">
                          <img
                            src="img/home/variety.jpg"
                            data-src="img/home/variety.jpg"
                            alt="Image Variety"
                            class="img-responsive"
                          />
                          <h3>Corrective Color</h3>
                          <h4>$13.00 Per Head</h4>
                          <p>
                            Labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit
                            amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo.
                          </p>
                          <a href="#" class="btn btn-primary first-btn"
                            >make An Appoinment</a
                          >
                        </div>
                      </div>

                      <div class="tab-pane" id="haircut112">
                        <div class="varietyContent">
                          <img
                            src="img/home/variety-2.jpg"
                            data-src="img/home/variety-2.jpg"
                            alt="Image Variety"
                            class="img-responsive"
                          />
                          <h3>Hair Cut</h3>
                          <h4>$48.00 Per Head</h4>
                          <p>
                            Incididunt ut labore et dolore magna aliqua. Ut enim
                            ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo. Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo.
                          </p>
                          <a href="#" class="btn btn-primary first-btn"
                            >make An Appoinment</a
                          >
                        </div>
                      </div>

                      <div class="tab-pane" id="partialfoil112">
                        <div class="varietyContent">
                          <img
                            src="img/home/variety-3.jpg"
                            data-src="img/home/variety-3.jpg"
                            alt="Image Variety"
                            class="img-responsive"
                          />
                          <h3>Partial Foil</h3>
                          <h4>$10.00 Per Head</h4>
                          <p>
                            Magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo. Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo.
                          </p>
                          <a href="#" class="btn btn-primary first-btn"
                            >make An Appoinment</a
                          >
                        </div>
                      </div>

                      <div class="tab-pane" id="extensionpertrack112">
                        <div class="varietyContent">
                          <img
                            src="img/home/variety-4.jpg"
                            data-src="img/home/variety-4.jpg"
                            alt="Image Variety"
                            class="img-responsive"
                          />
                          <h3>Extension Per Track</h3>
                          <h4>$40.00 Per Head</h4>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore
                            eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia
                            deserunt mollit anim id est laborum.
                          </p>
                          <a href="#" class="btn btn-primary first-btn"
                            >make An Appoinment</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="nail">
              <div class="tabbable tabs-left">
                <div class="row">
                  <div class="col-md-5 col-lg-4">
                    <ul class="nav nav-tabs">
                      <li>
                        <a href="#braidstwist4" data-toggle="tab" class="active"
                          >Braids &amp; Twist <span>$25</span></a
                        >
                      </li>
                      <li>
                        <a href="#haircolor113" data-toggle="tab"
                          >Hair Color <span>$40</span></a
                        >
                      </li>
                      <li>
                        <a href="#hairextension113" data-toggle="tab"
                          >Hair Extension<span>$19</span></a
                        >
                      </li>
                      <li>
                        <a href="#correctivecolor113" data-toggle="tab"
                          >Corrective Color<span>$13</span></a
                        >
                      </li>
                      <li>
                        <a href="#haircut113" data-toggle="tab"
                          >Hair Cut<span>$48</span></a
                        >
                      </li>
                      <li>
                        <a href="#partialfoil113" data-toggle="tab"
                          >Partial Foil<span>$10</span></a
                        >
                      </li>
                      <li>
                        <a href="#extensionpertrack113" data-toggle="tab"
                          >Extension Per Track<span>$40</span></a
                        >
                      </li>
                    </ul>
                  </div>

                  <div class="col-md-7 col-lg-8">
                    <div class="tab-content">
                      <div class="tab-pane active" id="braidstwist4">
                        <div class="varietyContent">
                          <img
                            src="img/home/variety-5.jpg"
                            data-src="img/home/variety-5.jpg"
                            alt="Image Variety"
                            class="img-responsive"
                          />
                          <h3>Braids &amp; Twist</h3>
                          <h4>$25.00 Per Head</h4>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo.
                          </p>
                          <a
                            href="#"
                            class="btn btn-primary first-btn"
                            data-toggle="modal"
                            data-target="#appoinmentModal"
                            >make An Appoinment</a
                          >
                        </div>
                      </div>

                      <div class="tab-pane" id="haircolor113">
                        <div class="varietyContent">
                          <img
                            src="img/home/variety-6.jpg"
                            data-src="img/home/variety-6.jpg"
                            alt="Image Variety"
                            class="img-responsive"
                          />
                          <h3>Hair Color</h3>
                          <h4>$40.00 Per Head</h4>
                          <p>
                            Ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo. Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo.
                          </p>
                          <a href="#" class="btn btn-primary first-btn"
                            >make An Appoinment</a
                          >
                        </div>
                      </div>

                      <div class="tab-pane" id="hairextension113">
                        <div class="varietyContent">
                          <img
                            src="img/home/variety.jpeg"
                            data-src="img/home/variety.jpeg"
                            alt="Image Variety"
                            class="img-responsive"
                          />
                          <h3>Hair Extension</h3>
                          <h4>$19.00 Per Head</h4>
                          <p>
                            Consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim
                            ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo. Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo.
                          </p>
                          <a href="#" class="btn btn-primary first-btn"
                            >make An Appoinment</a
                          >
                        </div>
                      </div>

                      <div class="tab-pane" id="correctivecolor113">
                        <div class="varietyContent">
                          <img
                            src="img/home/variety-2.jpeg"
                            data-src="img/home/variety-2.jpeg"
                            alt="Image Variety"
                            class="img-responsive"
                          />
                          <h3>Corrective Color</h3>
                          <h4>$13.00 Per Head</h4>
                          <p>
                            Tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo. Lorem
                            ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo.
                          </p>
                          <a href="#" class="btn btn-primary first-btn"
                            >make An Appoinment</a
                          >
                        </div>
                      </div>

                      <div class="tab-pane" id="haircut113">
                        <div class="varietyContent">
                          <img
                            src="img/home/variety-3.jpeg"
                            data-src="img/home/variety-3.jpeg"
                            alt="Image Variety"
                            class="img-responsive"
                          />
                          <h3>Hair Cut</h3>
                          <h4>$48.00 Per Head</h4>
                          <p>
                            Sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo. Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo.
                          </p>
                          <a href="#" class="btn btn-primary first-btn"
                            >make An Appoinment</a
                          >
                        </div>
                      </div>

                      <div class="tab-pane" id="partialfoil113">
                        <div class="varietyContent">
                          <img
                            src="img/home/variety-4.jpeg"
                            data-src="img/home/variety-4.jpeg"
                            alt="Image Variety"
                            class="img-responsive"
                          />
                          <h3>Partial Foil</h3>
                          <h4>$10.00 Per Head</h4>
                          <p>
                            Bore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit
                            amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo.
                          </p>
                          <a href="#" class="btn btn-primary first-btn"
                            >make An Appoinment</a
                          >
                        </div>
                      </div>

                      <div class="tab-pane" id="extensionpertrack113">
                        <div class="varietyContent">
                          <img
                            src="img/home/variety-5.jpeg"
                            data-src="img/home/variety-5.jpeg"
                            alt="Image Variety"
                            class="img-responsive"
                          />
                          <h3>Extension Per Track</h3>
                          <h4>$40.00 Per Head</h4>
                          <p>
                            Gna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo. Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo.
                          </p>
                          <a href="#" class="btn btn-primary first-btn"
                            >make An Appoinment</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="waxing">
              <div class="tabbable tabs-left">
                <div class="row">
                  <div class="col-md-5 col-lg-4">
                    <ul class="nav nav-tabs">
                      <li>
                        <a href="#braidstwist5" data-toggle="tab" class="active"
                          >Braids &amp; Twist <span>$25</span></a
                        >
                      </li>
                      <li>
                        <a href="#haircolor114" data-toggle="tab"
                          >Hair Color <span>$40</span></a
                        >
                      </li>
                      <li>
                        <a href="#hairextension114" data-toggle="tab"
                          >Hair Extension<span>$19</span></a
                        >
                      </li>
                      <li>
                        <a href="#correctivecolor114" data-toggle="tab"
                          >Corrective Color<span>$13</span></a
                        >
                      </li>
                      <li>
                        <a href="#haircut114" data-toggle="tab"
                          >Hair Cut<span>$48</span></a
                        >
                      </li>
                      <li>
                        <a href="#partialfoil114" data-toggle="tab"
                          >Partial Foil<span>$10</span></a
                        >
                      </li>
                      <li>
                        <a href="#extensionpertrack114" data-toggle="tab"
                          >Extension Per Track<span>$40</span></a
                        >
                      </li>
                    </ul>
                  </div>

                  <div class="col-md-7 col-lg-8">
                    <div class="tab-content">
                      <div class="tab-pane active" id="braidstwist5">
                        <div class="varietyContent">
                          <img
                            src="img/home/variety-6.jpeg"
                            data-src="img/home/variety-6.jpeg"
                            alt="Image Variety"
                            class="img-responsive"
                          />
                          <h3>Braids &amp; Twist</h3>
                          <h4>$25.00 Per Head</h4>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo.
                          </p>
                          <a
                            href="#"
                            class="btn btn-primary first-btn"
                            data-toggle="modal"
                            data-target="#appoinmentModal"
                            >make An Appoinment</a
                          >
                        </div>
                      </div>

                      <div class="tab-pane" id="haircolor114">
                        <div class="varietyContent">
                          <img
                            src="img/home/variety.jpeg"
                            data-src="img/home/variety.jpeg"
                            alt="Image Variety"
                            class="img-responsive"
                          />
                          <h3>Hair Color</h3>
                          <h4>$40.00 Per Head</h4>
                          <p>
                            Dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim
                            ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo.
                          </p>
                          <a href="#" class="btn btn-primary first-btn"
                            >make An Appoinment</a
                          >
                        </div>
                      </div>

                      <div class="tab-pane" id="hairextension114">
                        <div class="varietyContent">
                          <img
                            src="img/home/variety-2.jpeg"
                            data-src="img/home/variety-2.jpeg"
                            alt="Image Variety"
                            class="img-responsive"
                          />
                          <h3>Hair Extension</h3>
                          <h4>$19.00 Per Head</h4>
                          <p>
                            Tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo. Lorem
                            ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo.
                          </p>
                          <a href="#" class="btn btn-primary first-btn"
                            >make An Appoinment</a
                          >
                        </div>
                      </div>

                      <div class="tab-pane" id="correctivecolor114">
                        <div class="varietyContent">
                          <img
                            src="img/home/variety-3.jpeg"
                            data-src="img/home/variety-3.jpeg"
                            alt="Image Variety"
                            class="img-responsive"
                          />
                          <h3>Corrective Color</h3>
                          <h4>$13.00 Per Head</h4>
                          <p>
                            Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo. Lorem
                            ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo.
                          </p>
                          <a href="#" class="btn btn-primary first-btn"
                            >make An Appoinment</a
                          >
                        </div>
                      </div>

                      <div class="tab-pane" id="haircut114">
                        <div class="varietyContent">
                          <img
                            src="img/home/variety-4.jpeg"
                            data-src="img/home/variety-4.jpeg"
                            alt="Image Variety"
                            class="img-responsive"
                          />
                          <h3>Hair Cut</h3>
                          <h4>$48.00 Per Head</h4>
                          <p>
                            Incididunt ut labore et dolore magna aliqua. Ut enim
                            ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo. Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo.
                          </p>
                          <a href="#" class="btn btn-primary first-btn"
                            >make An Appoinment</a
                          >
                        </div>
                      </div>

                      <div class="tab-pane" id="partialfoil114">
                        <div class="varietyContent">
                          <img
                            src="img/home/variety-5.jpeg"
                            data-src="img/home/variety-5.jpeg"
                            alt="Image Variety"
                            class="img-responsive"
                          />
                          <h3>Partial Foil</h3>
                          <h4>$10.00 Per Head</h4>
                          <p>
                            Rem ipsum dolor sit amet, consectetur adipisicing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim
                            ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo.
                          </p>
                          <a href="#" class="btn btn-primary first-btn"
                            >make An Appoinment</a
                          >
                        </div>
                      </div>

                      <div class="tab-pane" id="extensionpertrack114">
                        <div class="varietyContent">
                          <img
                            src="img/home/variety-6.jpeg"
                            data-src="img/home/variety-6.jpeg"
                            alt="Image Variety"
                            class="img-responsive"
                          />
                          <h3>Extension Per Track</h3>
                          <h4>$40.00 Per Head</h4>
                          <p>
                            Bore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit
                            amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo.
                          </p>
                          <a href="#" class="btn btn-primary first-btn"
                            >make An Appoinment</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
