<section class="clearfix pageTitleArea">
  <div class="container">
    <div class="pageTitle">
      <h1>Combination Skin Care</h1>
    </div>
  </div>
</section>
<section class="container-fluid clearfix aboutSection patternbg">
  <div class="aboutInner inner-wrapper">
    <div class="sepcialContainer">
      <div class="row">
        <div class="col-sm-6 col-xs-12 rightPadding">
          <div class="imagebox">
            <img
              class="img-responsive"
              data-src="img/home/home-about.jpg"
              src="../../assets/images/combination-skin.jpeg"
              alt="Image Combination Skin"
            />
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="aboutInfo">
            <h2>Anti-Aging Facial</h2>
            <p>
              This facial uses products with ingredients that are effective in
              diminishing the signs of aging. Since it is for older skin, women
              over the age of 30 can have it done regularly for best results. It
              can be done at any time of the year.
            </p>
            <h3>Process:</h3>
            <p>
              The anti-aging facial consists of deep pore cleansing, exfoliating
              and microdermabrasion or skin resurfacing. This is followed by a
              skin tightening mask and a massage. A collagen-based serum
              completes the facial.
            </p>
            <h3>Skin Type:</h3>
            <p>
              It is suitable for all skin types; those with oily or sensitive
              skin should ask for products suitable for their skin.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
