<div class="row">
  <div class="col-12">
    <div class="innerWrapper">
      <div class="orderBox patternbg text-center">All Users</div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Status</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let user of users$ | async">
              <td>
                <a [routerLink]="[user.name, 'detail']">
                  {{ user.name }}
                </a>
              </td>
              <td>{{ user.email }}</td>
              <td>{{ user.phoneNumber }}</td>
              <td><span class="label label-primary">Processing</span></td>
              <td>
                <!-- <a class="btn btn-outline-primary mr-2"
                  ><i class="ti-eye"></i
                ></a> -->
                <a (click)="deleteUser(user)" class="btn btn-outline-danger"
                  ><i class="ti-close"></i
                ></a>
              </td>
            </tr>

            <!-- <tr>
              <td>#451231</td>
              <td>Mar 25, 2016</td>
              <td>3</td>
              <td>$150.00</td>
              <td><span class="label label-success">Completed</span></td>
              <td>
                <a href="javascript:void(0)" class="btn btn-default">View</a>
              </td>
            </tr>

            <tr>
              <td>#451231</td>
              <td>Mar 25, 2016</td>
              <td>3</td>
              <td>$150.00</td>
              <td><span class="label label-danger">Canceled</span></td>
              <td>
                <a href="javascript:void(0)" class="btn btn-default">View</a>
              </td>
            </tr>

            <tr>
              <td>#451231</td>
              <td>Mar 25, 2016</td>
              <td>2</td>
              <td>$99.00</td>
              <td><span class="label label-info">On Hold</span></td>
              <td>
                <a href="javascript:void(0)" class="btn btn-default">View</a>
              </td>
            </tr>

            <tr>
              <td>#451231</td>
              <td>Mar 25, 2016</td>
              <td>3</td>
              <td>$150.00</td>
              <td><span class="label label-warning">Pending</span></td>
              <td>
                <a href="javascript:void(0)" class="btn btn-default">View</a>
              </td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
