.slide1 {
  background-image: url(../../assets/images/home-slider-1.jpeg);
}

.slide2 {
  background-image: url(../../assets/images/home-slider-2.jpeg);
}

.slide3 {
  background-image: url(../../assets/images/home-slider-3.jpeg);
}

.slide4 {
  background-image: url(../../assets/images/home-slider-4.jpeg);
}

.slide-inner1 {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  letter-spacing: 0.2rem;
}
