.slide1 {
  background-image: url(../../assets/images/home-slider-1.jpeg);
}

.slide2 {
  background-image: url(../../assets/images/home-slider-2.jpeg);
}

.slide3 {
  background-image: url(../../assets/images/home-slider-3.jpeg);
}

.slide4 {
  background-image: url(../../assets/images/home-slider-4.jpeg);
}
